# Puertos de exposición de los contenedores
BACKEND_PORT=8787
FRONTEND_PORT=8080

# Entorno global de desarrollo/producción
NODE_ENV=development

# Dominio autorizado para el intercambio de recursos en el backend (CORS)
CORS_ORIGIN=http://localhost:8080

# URL de la API del backend que consumirá el frontend (construido en tiempo de empaquetado)
VITE_API_URL=http://localhost:8787
